# Project exclude paths
/.gradle/
/app/build/
/app/build/intermediates/javac/debug/classes/
/.idea/vcs.xml
/.idea/.name
/app/debug/app-debug.aab
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
